/*  SECTIONS  */
.kotak-section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 0%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF TWO  */
.span_2_of_2 {
	width: 100%;
}
.span_1_of_2 {
	width: 50%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.col { 
		margin: 1% 0 1% 0%;
	}
}

@media only screen and (max-width: 480px) {
	.span_2_of_2, .span_1_of_2 { width: 100%; }
}

.kotak-container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.kotak-row {
  margin-left: 0px;
  margin-right: 0px;
}
.kotak-md-6 {
  position: relative;
  min-height: 1px;
  padding-left: 0px;
  padding-right: 0px;
}

@media (min-width: 960px) {
  .kotak-md-6 {
    float: left;
  }
  .kotak-md-6 {
    width: 50%;
  }
  .kotak-md-pull-6 {
    right: 50%;
  }
  .kotak-md-push-6 {
    left: 50%;
  }
  .kotak-md-offset-6 {
    margin-left: 50%;
  }
}